body{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}
.header{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    flex:2;
}
.search{
    display: flex;
    flex: 1;
}